node_modules
db/levels/
db/users/
db/pack/
uploads/*.jpg
uploads/*.jpeg
uploads/*.png
uploads/*.mp3
uploads/*.jpg
db/source/engines/wbp-pjsekai
db/source/particles/pjsekai.classic
db/source/backgrounds/pjsekai.live
db/source/effects/pjsekai.classic
db/source/skins/pjsekai.classic
!.gitkeep
config
dist