node_modules
uploads/*.jpg
uploads/*.jpeg
uploads/*.png
uploads/*.mp3
uploads/*.jpg
packer/*
db/bak
db/levels/*
db/users/*
db/pack/repository
db/pack/db.json
db/source/engines/pjsekai
db/source/particles/psekai
db/source/backgrounds/psekai
db/source/effects/psekai
db/source/skins/psekai2
db/source/skins/psekai.2
!.gitkeep
config/serviceAccount.json
config/settings.json
dist
db/sekai-source
config/loggingServiceAccount.json
db/source/backgrounds/pjsekai.live
db/source/effects/pjsekai.classic
db/source/particles/pjsekai.classic
db/source/skins/pjsekai.classic
db/source/engines/wbp-pjsekai
db/pack-*