node_modules
uploads/*.jpg
uploads/*.jpeg
uploads/*.png
uploads/*.mp3
uploads/*.jpg
packer/*
db/levels/*
db/users/*
db/pack/repository
db/pack/db.json
db/source/engines/pjsekai
db/source/particles/psekai
db/source/backgrounds/psekai
db/source/effects/psekai
db/source/skins/psekai2
db/source/skins/psekai.2
!.gitkeep